@import url('https://fonts.googleapis.com/css?family=Acme');


.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 16%;
  left: 0;
  border-bottom: 2px solid black;
  margin-top: 0;


}

.header-text{

  color: white;
  text-align: center;
  font-size: 30px;

  display: block;

}

body{
  background: white;  /* fallback for old
  browsers */
/* */
margin: 0;

  width: 100%;
  font-family: 'Acme', sans-serif;

}
#coins{
  margin-top: 70px;
  padding-right: 12px;
  padding-left: 12px;





}


@import url(https://fonts.googleapis.com/css?family=Limelight|Open+Sans:400,300);


.heading {
  font-family: 'Limelight', cursive;
  font-size: 0.2em;
  text-transform: uppercase;
}



img{
  width : 10%;
  float: left;
  margin-left: 10px;
  margin-top:10px;
}
.box {

  width: 100%;
  background-color: #43cea2;
  height: 150px;
  display: "flex";
  margin-Bottom: 20;
  border-radius: 15px 50px 30px;


}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;

  padding: 10px;
  padding-bottom: 40px;
}
.grid-container>div {
  text-align: center;
  padding:20px 0;
  font-size: 15px;
}
.item1 {
  grid-row: 1 / 3;
}

.price{
  float: right;
  font-size: 12px;
  margin-top :0;
  margin-right: 35px;

}
hr{
  text-align: center;
  margin-left : 25px;
  margin-right: 25px;
}

.coin-name{
  margin-left: 35px;
  padding-left: 30px;
  padding-top: 0px;
}
.last-hours{
  top:0;
  padding-top: 0;
}

.percentage{
  font-size: 12px;
}




